.formContainer {
    max-width: 600px;
    margin: auto; 
  }

  .formContainer img {
    height: auto;
  }


  
  .formContainer textarea {
    height: 120px; 
  }
  
  .formContainer button {
    width: 30%; 
    padding: 10px; 
    background-color: black; 
    color: white; 
    border: none;
    border-radius: 4px; 
    cursor: pointer;
  }
  

.form{
display: flex;
flex-direction: column;
}

.form >div{
    flex-direction: row;
}