.formContainer {
    display: flex;
    max-width: 600px;
    margin: auto; 
  }

  .formContainer input[type="text"],
  .formContainer select,
  .formContainer textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid black; 
    border-radius: 4px; 
    margin-bottom: 10px; 
  }
  
  .formContainer textarea {
    height: 120px; 
  }
  
  .formContainer button {
    width: 30%; 
    padding: 70px; 
    background-color: #000; /* Button color */
    color: #fff; /* Text color for the button */
    border: none;
    border-radius: 4px; /* Optional: rounded corners for the button */
    cursor: pointer;
    margin-top: 20px; /* Space above the button */
  }
  
  /* Ensure the image doesn't exceed the width of the form */
  .formContainer img {
    max-width: 100%;
    height: auto;
  }
  