.formContainer {
    max-width: 900px; 
    margin: auto;
    display: flex; 
    flex-direction: row; 
    align-items: flex-start;
    font-family: 'Rubik', sans-serif;
  }

  .formContainer img {
    height: auto;
  }

  .formContainer input[type="text"],
  .formContainer select,
  .formContainer textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid black; 
    border-radius: 4px; 
    margin-bottom: 10px; 
  }
  
  .formContainer textarea {
    height: 120px; 
  }
  
  .formContainer button {
    width: 30%; 
    padding: 10px; 
    background-color: black; 
    color: white; 
    border: none;
    border-radius: 4px; 
    cursor: pointer;
  }
  
