.formContainer {
    max-width: 900px; 
    margin: auto;
    display: flex; /* Added for side-by-side layout */
    flex-direction: row; /* Direction changed to row for main container */
    align-items: flex-start; /* Align items to the start of the container */
    font-family: 'Rubik', sans-serif;
  }
  
  .formContainer img {
    height: auto;
    width: auto;
    max-width: 200px; /* Set a max-width to the image */
    margin-left: 20px; /* Add some space between form and image */
  }
  
  /* Form styling */
  .form {
    flex: 1; /* Added to take the remaining space */
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Add space between form and image */
  }
  
  .form > div {
    display: flex;
    flex-direction: row; /* Align form items in a row */
    flex-wrap: wrap; /* Wrap items to next line if not enough space */
    justify-content: space-between; /* Distribute space between elements */
    width: 100%; /* Full width */
  }
  
  .form > div:first-child, /* First row containing Company Name and Job Title */
  .form > div:nth-child(2) { /* Second row containing Employment Type, Location, Salary */
    justify-content: flex-start;
  }
  
  .form > div:nth-child(2) > label,
  .form > div:nth-child(2) > input,
  .form > div:nth-child(2) > select {
    margin-right: 10px; /* Spacing between inline elements */
    width: calc(33.333% - 10px); /* Adjust width for 3 items in a row */
  }
  
  .form > div:nth-child(2) > label:last-child,
  .form > div:nth-child(2) > input:last-child,
  .form > div:nth-child(2) > select:last-child {
    margin-right: 0; /* No margin for the last element */
  }
  
  /* Input, Select and Textarea styles */
  .formContainer input[type="text"],
  .formContainer select,
  .formContainer textarea {
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px; /* Spacing between stacked elements */
  }
  
  .formContainer textarea {
    height: 120px; /* Set a fixed height for textarea */
    width: 100%; /* Full width for textarea */
  }
  
  .formContainer button {
    width: auto; /* Set width to auto to avoid stretching */
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    /* For smaller screens, adjust the layout to stack elements */
    .formContainer {
      flex-direction: column; /* Stack image below the form on small screens */
    }
  
    .form {
      margin-right: 0; /* Reset margin */
    }
  
    .form > div {
      flex-direction: column; /* Stack form elements */
    }
  
    .form > div > label,
    .form > div > input,
    .form > div > select {
      width: 100%; /* Full width for all form elements on small screens */
      margin-right: 0; /* Reset margin */
    }
  
    .formContainer img {
      margin-left: 0; /* Reset margin */
      max-width: 100%; /* Full width for image on small screens */
    }
  }
  