.logo{
  display: flex;
  align-items: center;
  margin-left: 2em;
  padding: 1em;
}
  
.navBar {
    background-color: transparent;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navBar img {
    height: 30px; 
  }
  
  .navBar h2 {
    margin-left: 0;
    padding-left: 1em;
    font-size: 32px;
  }
  
  .navBar button {
    background-color: #e7e7e7;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
  }

