/* navBar.module.css */

.logo {
  display: flex;
  align-items: center;
  margin-left: 2em;
}

.logo h2 {
  margin-left: 1em;
  font-size: 40px;
  margin-bottom: 32px;
}

.navBar {
  background-color: transparent;
  padding: 0px 160px 0px 160px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 64px;
  position: relative; /* Added for popup positioning */
}

.navBar img {
  height: 30px;
}

.navBar button {
  background-color: transparent;
  font-weight: 600;
  border: none;
  padding: 0px 12px 40px 12px;
  margin-right: 1em;
  cursor: pointer;
  font-size: 16px;
}

.popupWrapper {
  position: absolute;
  top: 120%; /* Position the top of the popup below the navigation bar */
  right: 10;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1; /* Ensure the popup is above other content */
  width: 200px; /* Adjust the width as needed */
}

.popup {
  /* Your styles for the popup go here */
  list-style: none;
  padding: 0;
  margin: 0;
}

.popup h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.popup li {
  font-size: 16px;
  margin-bottom: 8px;
}
