.navBar {
    background-color: #f8f8f8;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navBar img {
    height: 50px; 
  }
  
  .navBar h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #333;
  }
  
  .navBar button {
    background-color: #e7e7e7;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .navBar button:hover {
    background-color: #d7d7d7;
  }
  